* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	display: flex;
	background-color: #114b5f;
	text-align: center;
	flex-direction: column;
	padding-top: 2%;
}
#container {
	width: 500px;
	height: 500px;
	background: #e4fde1;
	margin: 10px auto;
}

ul {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	justify-content: space-evenly;
	color: #e4fde1;
}

ul li {
	background: #456990;
	width: 30%;
	height: 150px;
	border: 1px solid #028090;
	margin-top: 10px;
	text-align: center;
	font-size: 2rem;
	padding-top: 3rem;
}

.bag {
	background-color: #114b5f;
}


.bag img {
    width: 200px;
	overflow: hidden;
}

.bag button {
    background-color: #114b5f;
}

.bag button:hover {
    cursor: pointer;
}

.shoes {
	width: 500px;
}

.pre {
    width: 100px;
}

.text {
    color: rgb(255, 85, 85);
}

.empty {
	background: #dad4ef;
	border: 2px solid #114b5f;
}

.hide {
	display: none;
}
